@font-face {
    font-family: "Avenir Next";
    src: url("../rsc/font/avenir-next.woff2") format("woff2");
}

html, body {
    margin: 0;
    padding: 0px;
}

body{
    background: black;
    font-family: "Avenir Next";
    padding: 5px;
    overflow: hidden;
}

a{
    color: rgb(180, 180, 180);
    text-decoration: none;
}

.grid.header{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    height: 30vh;
}

.grid.body{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: 1fr;
    height: 69vh;
}


.grid > div{
    min-width: 1vw;
    min-height: 1vh;
    margin: 5px;
    border-width: thin;
    border-style: solid;
    border-color: rgb(50, 50, 50);
    background: rgb(30, 30, 30);
    color: rgb(180, 180, 180);
    padding: 1px;
    overflow: auto;
}

.grid > div > img{
    display: block;
    margin: 1px 0px 0px 1px;
}

.photo{
    grid-column: 1;
    grid-row: 1 / span 2;
}

.name{
    grid-column: 2;
    grid-row: 1;
    align-self: start;
}

.announce{
    grid-column: 2;
    grid-row: 2;
    position: relative;
}

.experiences{
    grid-column: 1;
    grid-row: 1;
}

.projects{
    grid-column: 2;
    grid-row: 1;
}

.courses{
    grid-column: 3;
    grid-row: 1;
}


.text{
    font-size: 18px;
    text-align: left;
    margin: 5px;
}

.text.title{
    font-size: 36px;
}

.text.heading{
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    margin: 10px 150px 30px;
}

/*.grid.body .text.main {} */

.text.small-info{
    font-size: 14px;
    text-align: right;
}

.text > img {
    height: 60px;
}

